*{
    margin:0;
    padding:0;
}
body{
    background:#000;
    font-family:Georgia;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:12000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}
.section{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.black{
    color:#fff;
    background:#000 url(../img/black.jpg) no-repeat top right;
}
.white{
    color:#000;
    background:#fff url(../img/white.jpg) no-repeat top right;
}
.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}


#bar { 
	width: 340px;
   	min-height: 100%;
	background: #fff;
	position: absolute;
	z-index: 99;
	}

#barDecor{
	width:320px;
	min-height: 100%;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	position: absolute;
	left: 10px;
	z-index: 100;
}

.line{
	border-bottom: 1px solid #b2b2b2; 
	width:220px;
	margin: auto;
}


.logo{
	margin-left:70px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.nav-item { 
	display: inline-block; 
	border-bottom: solid 1px #b2b2b2; 
	color: #404041; 
	text-transform: uppercase; 
	margin-right: 36px; 
	font-size: 12px; 	
	}
